<div id="home">
  <div id="home-top">
    <div id="home-top-box">
      <div id="home-top-box-col-1">
        <img id="profile" src="/assets/Profile.jpg" alt="Albedo">
      </div>
      <div id="home-top-box-col-2">
        <h1>Raziel.Space</h1>
        <div class="divider"></div>
        <br>
        <ul>
          <li><fa-icon [icon]="faDiscord"></fa-icon> @Raziel8193</li>
          <a href="https://git.raziel.space/raziel2244">
            <li><fa-icon [icon]="faGit"></fa-icon> raziel2244</li>
          </a>
          <a href="https://niu.moe/@raziel2244">
            <li><fa-icon [icon]="faMastodon"></fa-icon> @raziel2244@niu.moe</li>
          </a>
          <li><fa-icon [icon]="faPlaystation"></fa-icon> Raziel2244</li>
          <a href="https://open.spotify.com/user/q7n2wdxl24dmynt13ugk2uj40?si=0X4lWqH8Tsu0oUbeaLJ5OA">
            <li><fa-icon [icon]="faSpotify"></fa-icon> Elliot</li>
          </a>
          <a href="https://steamcommunity.com/id/raziel2244">
            <li><fa-icon [icon]="faSteam"></fa-icon> Raziel</li>
          </a>
          <li><fa-icon [icon]="faTelegram"></fa-icon> @Raziel2244</li>

          <!--<a href="https://deviantart.com/raziel2244">
            <li><fa-icon [icon]="faDeviantart"></fa-icon> raziel2244</li>
          </a>
          <a href="https://github.com/Raziel2244">
            <li><fa-icon [icon]="faGithub"></fa-icon> Raziel2244</li>
          </a>
          <a href="https://www.instagram.com/raziel2244">
            <li><fa-icon [icon]="faInstagram"></fa-icon> raziel2244</li>
          </a>
          <a href="https://reddit.com/u/raziel2244">
            <li><fa-icon [icon]="faReddit"></fa-icon> raziel2244</li>
          </a>
          <a href="https://little-green-geek.tumblr.com">
            <li><fa-icon [icon]="faTumblrSquare"></fa-icon> Little-Green-Geek</li>
          </a>
          <a href="https://twitch.tv/raziel2244">
            <li><fa-icon [icon]="faTwitch"></fa-icon> raziel2244</li>
          </a>
          <a href="https://twitter.com/Raziel2244">
            <li><fa-icon [icon]="faTwitter"></fa-icon> @Raziel2244</li>
          </a>
          <a href="https://www.youtube.com/channel/UCkSMG2714jC2S5__fghzgJg">
            <li><fa-icon [icon]="faYoutube"></fa-icon> Elliot</li>
          </a>-->
        </ul>
      </div>
    </div>
  </div>
</div>
