#home {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #000;
}

#home-top {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

#home-top-box {
  display: flex;
  flex-flow: row nowrap;
  align-content: stretch;
  justify-content: space-between;
  height: 50vh;
  width: 75vw;
  border: 5px solid #fff;
}

#home-top-box-col-1 {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  padding: 8.5vh;
}

#home-top-box-col-1>#profile {
  width: 33vh;
  height: 33vh;
  max-width: 384px;
  max-height: 384px;
}

#home-top-box-col-2 {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  justify-content: center;
  align-content: space-around;
  padding: 8.5vh;
}

#home-top-box-col-2>h1 {
  font-size: auto;
  text-align: center;
}

#home-top-box-col-2>.divider {
  border: 2px solid white;
}

#home-top-box-col-2>ul {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#home-top-box-col-2>ul li {
  margin: 0 1px;
}

/* link styling */

a {
  text-decoration: none;
}

a * {
  color: inherit;
}

a:hover {
  color: hsla(105, 100%, 50%, 1);
}

/* RWD for portrait screens */
@media screen and (orientation: portrait) {
  #home-top-box {
    flex-flow: column nowrap;
    align-content: flex-end;
    height: 80vh;
    width: 70vw;
  }

  #home-top-box-col-1 {
    flex-grow: 0;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 5vw;
    height: 60vw;
    width: 60vw;
    max-height: 384px + 10vw;
  }

  #home-top-box-col-1>#profile {
    width: 60vw;
    height: 60vw;
    max-width: 384px;
    max-height: 384px;
  }

  #home-top-box-col-2 {
    flex-grow: 1;
    justify-content: flex-start;
    align-content: center;
    padding: 5vw;
  }

  #home-top-box-col-2>h1 {
    font-size: auto;
  }

  #home-top-box-col-2>.divider {
    border: 2px solid white;
  }

  #home-top-box-col-2>ul {
    flex-flow: column wrap;
    text-align: center;
    justify-content: space-around;
  }

  #home-top-box-col-2>ul li {
    margin: 0 1px;
  }
}
