<div id="home">
  <div id="home-top">
    <div id="home-top-box">
      <div id="home-top-box-col-1">
        <img id="profile" src="/assets/Profile.jpg" alt="Albedo">
      </div>
      <div id="home-top-box-col-2">
        <h1>Raziel.Space</h1>
        <div class="divider"></div>
        <br>
        <ul>
          <li><i class="fab fa-discord"></i> @Raziel8193</li>
          <a href="https://git.raziel.space/raziel2244">
            <li><i class="fab fa-git"></i> raziel2244</li>
          </a>
          <a href="mailto:public@raziel.space">
            <li><i class="far fa-envelope"></i> public@raziel.space</li>
          </a>
          <!--
          <a href="https://niu.moe/@raziel2244">
            <li><i class="fab fa-mastodon"></i> @raziel2244@niu.moe</li>
          </a>
          -->
          <li><i class="fab fa-playstation"></i> Raziel2244</li>
          <a href="https://open.spotify.com/user/q7n2wdxl24dmynt13ugk2uj40?si=0X4lWqH8Tsu0oUbeaLJ5OA">
            <li><i class="fab fa-spotify"></i> Elliot</li>
          </a>
          <a href="https://steamcommunity.com/id/raziel2244">
            <li><i class="fab fa-steam"></i> Raziel</li>
          </a>
          <li><i class="fab fa-telegram"></i> @Raziel2244</li>

          <!--<a href="https://deviantart.com/raziel2244">
            <li><i class="fab fa-deviantart"></i> raziel2244</li>
          </a>-->
          <a href="https://github.com/Raziel2244">
            <li><i class="fab fa-github"></i> Raziel2244</li>
          </a>
          <!--<a href="https://www.instagram.com/raziel2244">
            <li><i class="fab fa-instagram"></i> raziel2244</li>
          </a>
          <a href="https://reddit.com/u/raziel2244">
            <li><i class="fab fa-reddit"></i> raziel2244</li>
          </a>
          <a href="https://little-green-geek.tumblr.com">
            <li><i class="fab fa-tumblr-square"></i> Little-Green-Geek</li>
          </a>
          <a href="https://twitch.tv/raziel2244">
            <li><i class="fab fa-twitch"></i> raziel2244</li>
          </a>
          <a href="https://twitter.com/Raziel2244">
            <li><i class="fab fa-twitter"></i> @Raziel2244</li>
          </a>
          <a href="https://www.youtube.com/channel/UCkSMG2714jC2S5__fghzgJg">
            <li><i class="fab fa-youtube"></i> Elliot</li>
          </a>-->
        </ul>
      </div>
    </div>
  </div>
</div>
